# Created by .ignore support plugin (hsz.mobi)
*.swp
*.pyc
/Uebung1/apyori.egg-info/
/Uebung1/dist/
/Uebung1/build/
/Uebung1/output/
.aux
.log
/Uebung1/abgabe/abgabe_tex/abgabe_ubung01.aux
/Uebung1/abgabe/abgabe_tex/abgabe_ubung01.log
